body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #41483a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #21dd21;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

pre {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: monospace;
    font-size: 1.1em;
    overflow-x: auto;
}

.important {
    font-weight: bold;
    color: #e74c3c;
}
